<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars Assignment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron text-center">
            <h1>
              Mission to Mars
            </h1>
            <p>
              <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
            </p>
          </div>
          {% if mars %}
          <h2>Latest Mars News</h2>
          <h4>{{ mars.headline }}</h4>
          <p>{{ mars.article }}</p>
          <div class="row justify-content-around">
            <div class="col-md-8">
              <img src='{{ mars.featured_image }}' class="image-thumbnail" alt="Featured Image from www.jpl.nasa.gov">
            </div>
            <div class="col-md-4">
              <table border=\"1\" class=\"dataframe\">  <thead>    <tr style="text-align: right">      <th></th>      <th>Mars</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>
            </div>
          </div>
          <h3 class="text-center">
            Mars Hemispheres
          </h3>
            <div class="col-md-6 col-sm-3 justify-content-around">
              <div class="thumbnail">
                  <h3>Valles Marineris Hemisphere</h3>
                  <img alt="The Valles Marineris Hemisphere of Mars" src="{{ mars.hemispheres[0].img_url }}" class="img-thumbnail">
              </div>
          </div>
          <div class="col-md-6 col-sm-3 justify-content-around">
              <div class="thumbnail">
                  <h3>Cerberus Hemisphere</h3>
                    <img alt="The Cerberus Hemisphere of Mars" src="{{ mars.hemispheres[1].img_url }}" class="img-thumbnail">
              </div>
          </div>
          <div class="col-md-6 col-sm-3 justify-content-around">
              <div class="thumbnail">
                  <h3>Schiaparelli Hemisphere</h3>
                    <img alt="The Schiaparelli Hemisphere of Mars" src="{{ mars.hemispheres[2].img_url }}" class="img-thumbnail">
              </div>
          </div>
          <div class="col-md-6 col-sm-3 justify-content-around">
              <div class="thumbnail">
                  <h3>Syrtis Major Hemisphere</h3>
                    <img alt="The Syrtis Major Hemisphere of Mars" src="{{ mars.hemispheres[3].img_url }}" class="img-thumbnail">
              </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</body>
</html>